/* Check out different colors here: https://www.materialpalette.com/ */

.box {
  min-height: 200px;
  width: 600px;
}

.white {
	  background-color: #fff;
	  min-height:25px;
}

.yellow {
  background-color: #FFEA0B;
}

.light_green {
  background-color: #98D039;
}

.green {
  background-color: #16A950;
}